<!-- templates/schedule/calendar.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Truck Booking Calendar</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/css/fullcalendar.css' %}">
    <script src="{% static 'schedule/js/fullcalendar.js' %}"></script>
    <script src="{% static 'schedule/js/jquery.js' %}"></script>
</head>
<body>
    <div id="calendar"></div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                events: "{% url 'booking-list' %}"
            });
        });
    </script>
</body>
</html>
